/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --akaroa: #D9C7B6;
    --cloud-burst: #212853;
    --orange: #ff7c00;
    --gin: #e0eae4;
    --ivory: #fffff0;
    --pearl: #F8F6F0;
    --borderRadius: 5px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    /* background-color: var(--ivory); */
    color: var(--cloud-burst);
}

a {
    background-color: var(--gin);
    color: var(--cloud-burst);
    text-decoration: unset;
    width: 100%;
}

.bg-dark {
    background-color: var(--cloud-burst);
    color: var(--ivory);
}